@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --theme-color1: #212a3e;
  --theme-color2: coral;
}
.background {
  background-color: #d9d9d9;
}

.theme-text-color1 {
  color: var(--theme-color1);
}
.theme-bg-color1 {
  background-color: var(--theme-color1);
}
.theme-text-color2 {
  color: var(--theme-color2);
}
.theme-bg-color2 {
  background-color: var(--theme-color2);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
} */
